{% extends 'AppBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h2>{% trans %}app_bundle.person.people{% endtrans %}</h2>
        </div>

        <div class="row">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="info">{% trans %}app_bundle.person.name{% endtrans %}</th>
                    <th class="span2 info">{% trans %}app_bundle.person.mail{% endtrans %}</th>
                    <th class="span2 info">{% trans %}app_bundle.person.phone{% endtrans %}</th>
                    <th class="span2 info">{% trans %}app_bundle.person.address{% endtrans %}</th>
                </tr>
                </thead>
                {% for person in people %}
                    <tr>
                        <td>{{ person.name }}</td>
                        <td>{{ person.data[0].mail }}</td>
                        <td>{{ person.data[0].phone }}</td>
                        <td>{{ person.data[0].address }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/person.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}