{% extends 'SedUniOfficeManagerAppBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row span5">
            <h2>{% trans %}sed_uniofficemanager_app_bundle.queue.queues{% endtrans %}</h2>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="span3">{% trans %}sed_uniofficemanager_app_bundle.queue.name{% endtrans %}</th>
                    <th class="span2">{% trans %}sed_uniofficemanager_app_bundle.queue.jobs{% endtrans %}</th>
                </tr>
                </thead>
                {% for queue in resque.queues %}
                    <tr>
                        <td>{{ queue.name }}</td>
                        <td><a href="{{ path('queue_show', { queue: queue.name }) }}">{{ queue.size }}</a></td>
                    </tr>
                {% endfor %}
            </table>

            <h2>{% trans %}sed_uniofficemanager_app_bundle.queue.failedJobs{% endtrans %}</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="span3">{% trans %}sed_uniofficemanager_app_bundle.queue.failedJobsNumber{% endtrans %}</th>
                    <td class="span2"><a href="{{ path('queue_list_failed') }}">{{ resque.failedJobs|length }}</a></td>
                </tr>
            </table>

            <h2>{% trans %}sed_uniofficemanager_app_bundle.queue.scheduledJobs{% endtrans %}</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="span3">{% trans %}sed_uniofficemanager_app_bundle.queue.scheduledJobFirst{% endtrans %}</th>
                    <td class="span2">{{ resque.firstDelayedJobTimestamp[0] ? resque.firstDelayedJobTimestamp[0]|date('Y-m-d H:i:s') : '-' }}</td>
                </tr>
                <tr>
                    <th>{% trans %}sed_uniofficemanager_app_bundle.queue.scheduledJobsNumber{% endtrans %}</th>
                    <td><a href="{{ path('queue_list_scheduled') }}">{{ resque.numberOfDelayedJobs }}</a></td>
                </tr>
            </table>
        </div>
        <div class="row span11">
            <h2>{% trans %}sed_uniofficemanager_app_bundle.queue.workers{% endtrans %}</h2>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="span3">
                        {% trans %}sed_uniofficemanager_app_bundle.queue.where{% endtrans %}
                    </th>
                    <th class="span3">
                        {% trans %}sed_uniofficemanager_app_bundle.queue.queues{% endtrans %}
                    </th>
                    <th class="span3">
                        {% trans %}sed_uniofficemanager_app_bundle.queue.processing{% endtrans %}
                    </th>
                    <th class="span1">
                        {% trans %}sed_uniofficemanager_app_bundle.queue.processed{% endtrans %}
                    </th>
                    <th class="span1">
                        {% trans %}sed_uniofficemanager_app_bundle.queue.failed{% endtrans %}
                    </th>
                </tr>
                </thead>

                {% for worker in resque.workers %}
                    <tr>
                        <td>{{ worker.id }}</td>
                        <td>
                            {% for queue in worker.queues %}
                                <span class="label label-info">{{ queue.name }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            {% set job = worker.currentJob %}
                            {% if job %}
                                <div>
                                    <strong>{{ job.name }}</strong>
                                </div>
                                <div class="row">
                                    <span class="pull-right">{{ worker.currentJobStart|date }}</span>
                                </div>
                                <div>
                                <span>
                                    <ul class="unstyled">
                                        {% for argname, argvalue in job.args %}
                                            <li>
                                                <span>{{ argname }}</span>
                                                <em class="pull-right">{{ argvalue }}</em>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </span>
                                </div>
                            {% else %}
                                <em>idle</em>
                            {% endif %}
                        </td>
                        <td>{{ worker.processedCount }}</td>
                        <td>{{ worker.failedCount }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            <em>{% trans %}sed_uniofficemanager_app_bundle.queue.empty{% endtrans %}</em>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row span5">
            <h2>{% trans %}sed_uniofficemanager_app_bundle.queue.redis{% endtrans %}</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="span3">{% trans %}sed_uniofficemanager_app_bundle.queue.host{% endtrans %}</th>
                    <td class="span2">{{ resque.redisConfiguration.host }}</td>
                </tr>
                <tr>
                    <th>{% trans %}sed_uniofficemanager_app_bundle.queue.port{% endtrans %}</th>
                    <td>{{ resque.redisConfiguration.port }}</td>
                </tr>
                <tr>
                    <th>{% trans %}sed_uniofficemanager_app_bundle.queue.database{% endtrans %}</th>
                    <td>{{ resque.redisConfiguration.database }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
